*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;/*Best programming approach is to give position relative to all the parent class.*/
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* position: relative; */
}
.elem h1{
    font-size: 6vw;
    /*yaha relative ra z index ley h1 aagadi dekhinxa ra image tesko paxadi move hunxa.
    z index ley h1 lai mathi uthaidinxa ra image tesko paxi bata 
    move hunxa*/
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.elem img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    /*mouse ko pointer image ko center maa vayera move hunxa */

    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}
