*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height:100%;
    width:100%
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 500px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
#card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
    padding: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 0; /*top bottom 10px , right lef 0px*/
    font-weight: 800;
}
#card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
}
#card button{
    border-radius: 20px;
    background-color: blue;
    color:#fff;
    padding: 10px 30px;
    margin: 5px;
    border: none;
    font-weight:bold;
    cursor: pointer;
}
/* #card #remove{
    background-color: red;

} */
